@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700;800&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}





/* nav bar css style */

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

div>ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;


}

div ul li a {
    text-decoration: none;
    color: #3C354F;

    font-size: 18px;

    font-weight: 500;

}

div ul li {
    list-style: none;
}

.Gl {
    color: #FF42A5;
    font-size: 45px;
    font-weight: 700;


}

.nav-gamer {
    color: #0B0223;

    font-size: 45px;

    font-weight: 700;
}

.gamer-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.gamer-icon img {
    height: 20px;

}

.followus {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px;
}

/* nav bar done */

/* goat part */
.goat-part-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(140, 87, 238, 0.03);

}

.play {
    color: #0B0223;
    font-size: 48px;

    font-weight: 600;

    text-transform: uppercase;
}

.goat {


    font-size: 95px;

    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.goat-description {
    color: #534C64;

    font-size: 20px;

    font-weight: 500;

}

.goat-btn {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;





}

.btn {
    padding: 20px 40px;
    border-radius: 35px;
    background: #FF42A5;
    color: #FFF;
    font-size: 20px;
}

.btn-go {
    padding: 20px 40px;
    border-radius: 35px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
}

/* goat part done */

/* gamer description */
.gamer-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
}

.gamer-text-content h2 {
    text-align: right;

    font-size: 48px;

    font-weight: 700;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.gamer-text-content p {

    color: #534C64;
    text-align: right;

    font-size: 18px;

    font-weight: 400;

}

/* .gamer-text-content{
    display: flex;
} */

.know {
    text-align: center;
    width: 30%;
    margin-left: 53%;
    padding: 20px 40px;

}

.purpose {
    color: #534C64;
    text-align: right;

    font-size: 24px;

    font-weight: 500;

}

.unleash {
    color: #534C64;

    font-size: 32px;

    font-weight: 700;

}

/* gamer part done */

/* online card games */
.online-card-games h2 {
    color: #0B0223;
    text-align: center;

    font-size: 48px;

    font-weight: 700;

}

.online-card-games .funnyp {
    color: #534C64;
    text-align: center;

    font-size: 18px;

    font-weight: 400;

}

.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.image-title {
    color: #534C64;
    
    font-size: 20px;
    
    font-weight: 500;
  
    /* 150% */
}
.card-grid{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    border-radius: 16px;

    
}
.card-grid img{
    position: relative;
   filter: brightness(100%);
   
}
.card-grid img:hover{
    border-radius: 16px;
   /* box-shadow:20px 20px 10px 30px rgb(6, 12, 6); */
   filter: brightness(40%);
}
.card-grid img:hover::after {
    content: "play now";
    position: absolute;
    top: 100%; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff; 
    padding: 8px; 
    border-radius: 4px;
    visibility: visible;
    opacity: 1;
}
/* .online-card-games{
    width: 1400px;
    margin:0 auto;
} */


@media screen and (max-width:576px) {
    nav {
        flex-direction: column;

        justify-items: center;
        margin: 0 auto;



        align-content: flex-end;
        flex-wrap: wrap;
        
    }



    div>ul {
        flex-direction: column;
        gap: 40px;
    }

    .followus {
        border-radius: 8px;
        background: rgba(11, 2, 35, 0.10);
        padding: 15px;
        align-items: center;

    }


    .goat-part-container {
        flex-direction: column-reverse;
        justify-items: center;


    }

    .goat-info {
        margin-left: 60%;

    }

    .goat-img {
        width: 100%;
        height: 50%;
    }

    .gamer-description {
        flex-direction: column;
    }

    .gamer-img {
        margin-left: 70%;
        width: auto;
        height: 50%
    }

    /* .gamer-text-content{
        width:fit-content;
        /* text-align: center;
        margin-left: 40%; */
    .gamer-description .gamer-text-content {
        width: 120vh;
        text-align: center;
        padding-left: 10%;


    }

    
    .gamer-text-content p {
        text-align: center;
        margin-left: 50%;

    }
    /* game card  */
    .card-grid{
        grid-template-columns: 1fr;
        padding-left: 25%;
    }
    .online-card-games{
        width:120vh;
        padding-left: 10%;
    }

}